<div class="contents">
  <div class="wrap">
    <h1>賃貸・売買不動産相場</h1>
    <div class="search">
      <label>住所</label>
      <input type="text" name="search" size="70%"><br>
      <label class="code">郵便番号</label>
      <input type="text" name="pcode" size="30"><br>
      <input type="submit" name="btn_search" value=" 検索 ">
    </div>
    <div class="mapdisp">
      google map
    </div>
    <div class="resdisp">
      <p class="dest">周辺相場: 横浜市港北区菊名</p>
      <div class="rent">
        <p>賃貸</p>
        <p class="val">1R: 70,000円</p>
        <p class="val">1LDK: </p>
        <p class="val">2LDK: </p>
        <p class="val">3LDK: </p>
      </div>
      <div class="purchase">
        <p>分譲</p>
        <p class="val">1R: 70,000円</p>
        <p class="val">1LDK: </p>
        <p class="val">2LDK: </p>
        <p class="val">3LDK: </p>
      </div>
    </div>
  </div>
</div>